html, body {
    height:100%;
}

body {
    padding:60px 0;
}

.menu {
    position:relative;
    height: 40px;
    margin-bottom: 40px;
    vertical-align: middle;
    clear:both;
}

.menu h1, .menu h2 {
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
    text-align: center;
    pointer-events: none;
}

.menu a:first-child {
    float:left;
}

.menu a:last-child {
    float:right;
}

.big {
    font-size: 26px;
    display: inline-block;
    padding:2px 15px;
    margin:0 5px;
    vertical-align: middle;
}

.color-block {
    background-color: #f1f1f1;
    height:100%;
    padding:20px;
    transition: 0.2s background-color ease;
}
